@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Users List";
}

<h2>List</h2>

<table id="usersTable" class="display">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>type</th>
            <th>mobileNumber</th>
            <th>email</th>
            <th>jobTitle</th>
            <th>managerId</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>type</th>
            <th>mobileNumber</th>
            <th>email</th>
            <th>jobTitle</th>
            <th>managerId</th>
        </tr>
    </tfoot>
</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">



@section Scripts{
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>    
<script>
    $(document).ready(function() {
        $("#usersTable").DataTable(
         {
                "ajax": {
                    "url":"/User/LoadData",
                    "type":"POST",
                    "datatype":"json"
                },
                "columns":[
                    {"data":"id"},
                    {"data":"name"},
                    {"data":"type"},
                    {"data":"mobileNumber"},
                    {"data":"email"},
                    {"data":"jobTitle"},
                    {"data":"managerId"},
                ]


        });

    });

        
    </script>
}